In [19]:
#installing MLEXTEND
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\asus\anaconda3\lib\site-packages (0.22.0)
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scipy>=1.2.1 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\asus\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [21]:
#Importing all basic libraries and Assiciation functions from libraries
import warnings
warnings.filterwarnings('ignore')
import pandas as pd 
import numpy as np
import scipy
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [22]:
#reading data
Movies = pd.read_csv('my_movies.csv')
Movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

# Pre-processing

In [23]:
#Creating dummy data for extracting association
Data_Dummies = pd.get_dummies(Movies)
Data_Dummies

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,1,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0

# Apriori Algorithm

In [38]:
#considering min 10% of rules by min_support function for analysing rules
frequent_itemsets = apriori(Data_Dummies,min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (LOTR1, V4_Green Mile, V1_Sixth Sense, V5_LOTR...
1393      0.1  (LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...
1394      0.1  (V4_Green Mile, V1_Sixth Sense, LOTR2, V5_LOTR...
1395      0.1  (LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...
1396      0.1  (LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...

[1397 rows x 2 columns]

In [59]:
#Using Lift ratio metric for association rules
Assiciation_rules = association_rules(frequent_itemsets, metric = "lift", min_threshold=0.7)
Assiciation_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40,0.533333
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80,0.400000
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80,-0.200000
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96,-0.333333
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80,-0.200000
...,...,...,...,...,...,...,...,...,...,...
64247,(V3_Harry Potter1),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf,1.000000
64248,(Harry Potter1),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80,1.000000
64249,(Sixth Sense),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08,1.000000
64250,(Green Mile),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80,1.000000
64251,(V2_LOTR1),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf,1.000000

In [60]:
# A high conviction value means that the consequent is highly depending on the antecedent and range[0-inf]

In [61]:
#Sorting rules
Assiciation_rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
32126,"(Harry Potter1, LOTR1, Sixth Sense, V3_Harry P...","(V5_LOTR2, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42207,"(V2_LOTR1, Harry Potter1, LOTR1, V5_LOTR2)","(Green Mile, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42195,"(Green Mile, V1_Sixth Sense, LOTR1, V5_LOTR2)","(V2_LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42196,"(V2_LOTR1, V1_Sixth Sense, LOTR1, V5_LOTR2)","(Green Mile, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42197,"(Harry Potter1, V1_Sixth Sense, LOTR1, Green M...","(V5_LOTR2, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42198,"(Harry Potter1, V2_LOTR1, V1_Sixth Sense, LOTR1)","(V5_LOTR2, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42199,"(Green Mile, V2_LOTR1, V1_Sixth Sense, LOTR1)","(V5_LOTR2, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42200,"(V5_LOTR2, Harry Potter1, LOTR1, LOTR2)","(Green Mile, V2_LOTR1, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42201,"(V5_LOTR2, Green Mile, LOTR1, LOTR2)","(V2_LOTR1, Harry Potter1, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42202,"(V5_LOTR2, V2_LOTR1, LOTR1, LOTR2)","(Green Mile, Harry Potter1, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42203,"(Green Mile, Harry Potter1, LOTR1, LOTR2)","(V2_LOTR1, V1_Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42204,"(V2_LOTR1, Harry Potter1, LOTR1, LOTR2)","(Green Mile, V1_Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42205,"(Green Mile, V2_LOTR1, LOTR1, LOTR2)","(Harry Potter1, V1_Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42206,"(Green Mile, Harry Potter1, LOTR1, V5_LOTR2)","(V2_LOTR1, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42208,"(Green Mile, V2_LOTR1, LOTR1, V5_LOTR2)","(Harry Potter1, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42222,"(V5_LOTR2, V2_LOTR1, Green Mile, LOTR2)","(Harry Potter1, V1_Sixth Sense, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42209,"(Green Mile, V2_LOTR1, Harry Potter1, LOTR1)","(V5_LOTR2, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42210,"(V5_LOTR2, Harry Potter1, V1_Sixth Sense, LOTR2)","(Green Mile, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42211,"(V5_LOTR2, Green Mile, V1_Sixth Sense, LOTR2)","(V2_LOTR1, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
42212,"(V5_LOTR2, V2_LOTR1, V1_Sixth Sense, LOTR2)","(Green Mile, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0

In [62]:
Assiciation_rules[Assiciation_rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40,0.533333
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80,0.400000
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,0.250000
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,0.250000
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf,0.444444
...,...,...,...,...,...,...,...,...,...,...
64247,(V3_Harry Potter1),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf,1.000000
64248,(Harry Potter1),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80,1.000000
64249,(Sixth Sense),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08,1.000000
64250,(Green Mile),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80,1.000000
64251,(V2_LOTR1),"(LOTR1, V4_Green Mile, V1_Sixth Sense, LOTR2, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf,1.000000